@mixin title-hover {
    text-decoration: underline;
}

@mixin link-hover {
    text-decoration: underline;
}

@mixin block-hover {
    $selector: &;

    &:hover {
        #{$selector}__header {
            @include title-hover;
        }

        .text__p--read-more {
            @include link-hover;
        }
    }
}

@mixin h2 {
    font-size: fontsize(h2-mobile);
    line-height: baselines(7.75);

    @media(min-width:breakpoints(tablet)) {
        font-size: fontsize(p);
        line-height: baselines(4);
    }


    @media(min-width:breakpoints(desktop))
        font-size: fontsize(h2);
        line-height: baselines(7.75);
    }
}
