@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
       @content;
    }

    &:-moz-placeholder {
       @content;
    }

    &::-moz-placeholder {
       @content;
    }

    &:-ms-input-placeholder {
       @content;
    }
}
