.archive__header {
    margin-bottom: baselines(4);
    overflow: hidden;
}

.archive__title {
    @include span(4 of 10);
    color: colour(main);
    font-size: fontsize(h2);
    line-height: baselines(8);
    vertical-align: bottom;
}

.archive__filters {
    @include span(8 of 10);
    margin-right: span(-2 of 10);
}

.archive-filter {
    float: right;
    line-height: baselines(8);
    margin-right: baselines(2);
    //FIXME: magic numbers
    position: relative;
    top: 6px;
}

.archive-filter__input {
    display: none;
}

.archive-filter__label {
    color: colour(main);
    cursor: pointer;
    line-height: baselines(8);
    user-select: none;

    &:hover {
        text-decoration: underline;
    }
}

.archive-filter__button {
    background: transparent;
    border: 0;
    color: colour(main);
    cursor: pointer;
    font-family: $font-main;
    font-size: fontsize(p);
    line-height: baselines(8);
    margin: 0;
    padding: 0;
    vertical-align: bottom;

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration: underline;
    }
}

.archive-filter__input:checked + .archive-filter__label {
    text-decoration: underline;
}

.archive-item {
    @include span(4 of 10);
    @include post(1 of 10);
    display: table;
    margin-bottom: baselines(8);

    &:nth-child(2n+1) {
        @include break;
    }

    a {
        color: colour(text);
        text-decoration: none;
    }
}

.archive-item__header {
    margin-bottom: baselines(2);
    display: table-header-group;
}

.archive-item__figure {
    display: table-footer-group;
}


.archive-item__year {
    display: none;
}

@mixin archive-big {
    @include span(12);

    .archive__header {
        @include span(12);
    }

    .archive__title {
        @include span(3 of 12);
    }

    .archive__filters {
        @include span(last 9 of 12);
    }

    .archive-item {
        @include span(8 of 12);
    }

    .archive-item__standfirst {
        margin-bottom: baselines(2);
    }

    .archive-item__title,
    .archive-item__standfirst {
        font-size: fontsize(h2);
        line-height: baselines(8);
    }

    .archive-item__figure img {
        max-width: 720px;
    }
}
