.hero {
    overflow: hidden;
}

.hero__title {
    font-size: fontsize(h2);
    line-height: baselines(8);
    color: $colour-main;

    &:hover {

    }
}

.hero-post {
    .hero-post__header:hover {
        text-decoration: underline;
    }

    .hero-post__figure:hover {
        @include figure-hover;
    }
}

.hero-post__header {
    margin-bottom: baselines(4);

    a {
        text-decoration: none;
        color: colour(text);
    }
}

.hero-post__title,
.hero-post__standfirst {
    font-size: fontsize(h2);
    line-height: baselines(8);
    color: $colour-text;
}

.hero-post__excerpt {
    color: $colour-text;

    a {
        color: $colour-main;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
