.featured-posts__title {
    @include kerning;
    color: $colour-main;
    font-size: fontsize(h2);
    line-height: fontsize(h2);
}

.featured-post {
    display: table;
    margin-bottom: baselines(4);

    a {
        text-decoration: none;

        &:visited {
            color: colour(text);
        }
    }
}

.featured-post[aria-hidden=true] {
    display: none;
}

.featured-posts__load {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: fontsize(p);
    font-family: $font-main;
    color: colour(main);
    clear: both;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        display: none;
    }
}

.featured-post__header {
    color: $colour-text;
    text-decoration: none;

    .featured-post:first-child & {
        font-size: fontsize(h2);
        line-height: baselines(8);
        margin-bottom: baselines(3);
    }
}

.featured-post__caption {
    color: colour(text);
    font-size: fontsize(caption);
    line-height: baselines(4);
}

.featured-post__excerpt {
    color: colour(text);
    margin-top: baselines(4);

    &:empty {
        margin: 0;
    }
}

@mixin featured-post-small-first-child() {
    .featured-post:first-child .featured-post__header {
        font-size: fontsize(p);
        line-height: baselines(5);
        margin-bottom: 0;
    }
}

.column--narrow {
    @include featured-post-small-first-child;

    .featured-post__content {
        margin-bottom: baselines(2);
    }
}
