.aside {
    display: none;
    position: relative;

    @media(min-width: breakpoints(tablet)) {
        display: block;
    }
}

.aside-item {
    margin-bottom: baselines(4);
    display: none;
    @media(min-width: breakpoints(tablet)) {
        display: block;
    }
}

.aside-item__figure {
    margin-bottom: baselines(2);
}

.aside-item__text {
    font-size: fontsize(aside);
    line-height: baselines(3.5);
}
