.featured-posts {
    margin-bottom: baselines(12);
}

.featured-posts__title {
    @include kerning;
    color: $colour-main;
    font-size: fontsize(h2);
    line-height: fontsize(h2);
    margin-bottom: baselines(2);
}

.featured-post {
    display: table;
    margin-bottom: baselines(4);

    a {
        text-decoration: none;
    }
}

.featured-post__content {
    margin-bottom: baselines(2);
}

.featured-post__title,
.featured-post__standfirst {
    color: $colour-text;
    text-decoration: none;
}

.featured-post__caption {
    color: colour(text);
    font-size: fontsize(caption);
    line-height: baselines(4);
}


.column--home.column--wide {
    .featured-posts__title {
        margin-bottom: 0;
    }

    .featured-post:first-child {
        .element {
            @include span(full);
            float: none;
        }

        .element--narrow {
            display: table-footer-group;
        }

        .element--wide {
            display: table-header-group;
        }

        .featured-post__content {
            margin-bottom: 0;
            margin-top: baselines(2);
        }
    }
}
