.side-gallery__wrapper {
    height: 100vw;
    overflow: hidden;
    position: relative;
}

.side-gallery__mask {
    left: 0;
    position: absolute;
    transform: translateX(-80%);
    width: 100vw;
}

.side-gallery__container {
    @include container($grid-max-width);
    padding: 0 $grid-outer-padding;
    position: relative;
    overflow: hidden;
}

.side-gallery__title {
    margin-left: 5vw;
    margin-bottom: baselines(8);
    visibility: hidden;
}

.side-gallery__item {
    margin-bottom: baselines(8);
    margin-left: 20vw;
    max-width: 80vw;

    img {
        max-width: 100%;
        min-width: 60vw;
        width: auto;
    }
}

.side-galery__close {
    display: none;
    background: 0;
    border: 0;
    color: colour(main);
    cursor: pointer;
    font-size: fontsize(aside);
    position: absolute;
    right: $grid-outer-padding;
    top: 0;

    &:focus {
        outline: 0;
    }
}

.side-gallery[aria-expanded=true] {
    .side-gallery__wrapper {
        overflow: visible;
    }

    .side-galery__close {
        display: block;
    }

    &:before {
        background: colour(modal-bg);
        content: '';
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .side-gallery__title {
        visibility: visible;
    }
}
