.accordion-item {
    padding: baselines(2) 0 (baselines(2) + 3) 0;
    border-bottom: 3px solid colour(text);
}

.accordion-item__title {
    color: colour(text);
    cursor: pointer;
}

.accordion-item__content {
    border-top: 3px solid colour(text);
    padding: baselines(2) 0;
    margin-top: baselines(2);
    display: none;

    p {
        margin-top: baselines(4);
    }

    p:first-child {
        margin-top: 0;
    }
}

.accordion-item__image-list {
    overflow: hidden;
}

.accordion-item__image {
    width: 20%;
    height: auto;
    float: left;
    margin: baselines(4) 5% baselines(4) 0;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.accordion-item[aria-expanded=true] {
    .accordion-item__content {
        display: block;
        border-top: 0;
    }
}

@mixin accordion-main-colour {
    .accordion-item {
        border-bottom-color: colour(main);
    }

    .accordion-item__title {
        color: colour(main);
    }

    .accordion-item__content {
        border-top-color: colour(main);
    }
}
