.hero {
    overflow: hidden;
}

.hero__title {
    @include h2;
    color: $colour-main;
}

.hero-post {
    .hero-post__header:hover {
        text-decoration: underline;
    }
}

.hero-post__header {
    margin-bottom: baselines(4);

    a {
        color: colour(text);
        text-decoration: none;
    }
}

.hero-post__title,
.hero-post__standfirst {
    @include h2;
    color: colour(text);
}

.hero-post__excerpt {
    color: colour(text);

    a {
        color: colour(main);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
