.schools {
    > button {
        display: none !important;
    }
}

.schools__title {
    @include h2;
    color: colour(main);
}

.schools__filters {
    float: right;
    margin-right: span(-2);
    text-align: right;
    width: span(2);

    .archive-filter {
        display: block;
        float: none;
        height: auto;
        line-height: 1;
        margin: 0;
    }

    .archive-filter__label {
        line-height: baselines(5);
    }
}

.school {
    margin-bottom: baselines(12);

    a {
        color: colour(text);
        text-decoration: none;
    }

    &[aria-hidden=true] {
        display: none;
    }
}

.school__content {
    margin-bottom: baselines(12);
}

.school__title {
    @include h2;
    margin-bottom: baselines(4);

    &:hover {
        @include title-hover;
    }
}

.school__figure {
    margin-bottom: baselines(4);

    &:hover {
        @include figure-hover;
    }
}

.school__caption {
    font-size: fontsize(caption);
}

.school__excerpt {
    a {
        color: colour(main);

        &:hover {
            @include link-hover;
        }
    }
}

.school__events {
    @include featured-post-small-first-child;

    .element--wide {
        @include span(7 of 10);
        @include last;
    }

    .element--narrow {
        @include span(3 of 10);
    }

    .featured-post {
        display: block;
        overflow: hidden;
    }
}
