.archive__header {
    @include clearfix;
    margin-bottom: baselines(4);
}

.archive__title {
    @include h2;
    @include span(4 of 10);
    color: colour(main);
    vertical-align: bottom;
}

.archive__filters {
    @include span(8 of 10);
    margin-right: span(-2 of 10);
    text-align: right;
}

.archive-filter {
    display: inline-block;
    letter-spacing: -1px;
    line-height: baselines(8);
    margin-left: baselines(1.5);
    //FIXME: magic numbers
    position: relative;
    top: 6px;

    &:first-child {
        margin-left: 0;
    }
}

.archive-filter__input {
    display: none;
}

.archive-filter__label {
    color: colour(main);
    cursor: pointer;
    line-height: baselines(8);
    user-select: none;
    font-size: fontsize(caption);

    &:hover {
        text-decoration: underline;
    }
}

.archive-filter__button {
    background: transparent;
    border: 0;
    color: colour(main);
    cursor: pointer;
    font-family: $font-main;
    font-size: fontsize(caption);
    line-height: baselines(8);
    margin: 0;
    padding: 0;
    vertical-align: bottom;

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration: underline;
    }

    &:disabled {
        text-decoration: underline;
    }
}

.archive-filter__input:checked + .archive-filter__label {
    text-decoration: underline;
}

.archive__list {
    @include clearfix;
}

.archive-item {
    @include block-hover;
    @include span(4 of 10);
    @include post(1 of 10);
    display: table;
    margin-bottom: baselines(8);

    &:nth-child(2n+1) {
        @include break;
    }

    a {
        color: colour(text);
        text-decoration: none;
    }

    &[aria-hidden=true] {
        display: none;
    }
}

.archive-item__header {
    display: table-header-group;
}

.archive-item__header-spacing {
    margin-bottom: baselines(3);
}

.archive-item__figure {
    display: table-footer-group;
}

.archive-item__caption {
    font-size: fontsize(caption);
    display: none;
}

.archive-item__year {
    display: none;
}

@mixin archive-big {
    @include span(10);

    .archive__header {
        @include span(10);
    }

    .archive__title {
        @include span(2 of 10);
    }

    .archive__filters {
        @include span(last 10 of 10);
        margin-right: span(-4 of 10);
    }

    .archive-item {
        @include span(10 of 10);
        margin-right: 0;
        margin-bottom: baselines(16);
    }

    .archive-item__standfirst {
        margin-bottom: baselines(2);
    }

    .archive-item__title,
    .archive-item__standfirst {
        @include h2;
    }

    .archive-item__link {
        display: table;
        min-width: 100%;
    }

    .archive-item__figure img {
        padding-right: 20%;
    }

    .archive-item__caption {
        display: block;
    }
}

@mixin archive-big-title {
    .archive__title {
        @include span(4 of 10);
        font-size: fontsize(h1);
        line-height: baselines(13);
        letter-spacing: -3.5px;
    }

    .archive__filters {
        width: span(10 of 10);
    }

    .archive-filter {
        //FIXME: magic numbers
        top: 21px;
    }
}

@mixin archive-full-row {
   .archive-item {
        @include span(10 of 10);
        @include post(0);
    }

    .archive-item__header {
        @include span(6 of 10);
    }

    .archive-item__standfirst {
        margin-top: baselines(4);
    }

    .archive-item__figure {
        @include span(3 of 10);
    }

    .archive-item__year {
        @include span(1 of 10);
        @include last;
        display: block;
        font-size: fontsize(p);
    }
}
