.text {
    p,
    .text__p {
        margin-bottom: baselines(4);
    }

    .text__p--big {
        margin-bottom: baselines(8);
    }
}

.text__p--blue {
    color: colour(main);
}

.text__heading,
.text__p--big {
    font-size: fontsize(h2);
    line-height: baselines(8);
}

.text__p--read-more {
    color: colour(main);
}
