.schools {
    > button {
        display: none !important;
    }
}

.schools__title {
    @include h2;
    color: colour(main);
}

.schools__filters {
    float: right;
    margin-right: (span(2 of 10) + gutter(2 of 10)) * -1;
    text-align: right;
    width: span(2 of 10);

    .archive-filter {
        height: auto;
        line-height: 1;
        margin: 0;
    }

    .archive-filter__label {
        line-height: baselines(5);
    }
}

.school {
    margin-bottom: baselines(12);

    a {
        color: colour(text);
        text-decoration: none;
    }

    &[aria-hidden=true] {
        display: none;
    }
}

.school__content {
    margin-bottom: baselines(12);
    display: table;
    min-width: 100%;

    .element {
        @include span(full);
        float: none;
    }

    .element--narrow {
        display: table-header-group;
    }

    .element--wide {
    }

    .element-full {

        display: table-footer-group;
    }

    .school__figure {
        padding-right: 20%;
    }


}

.school__title {
    @include h2;
    margin-bottom: baselines(4);

    &:hover {
        @include title-hover;
    }
}

.school__figure {
    margin-bottom: baselines(4);
    clear: both;
}

.school__caption {
    font-size: fontsize(caption);
}

.school__excerpt {
    a {
        color: colour(main);

        &:hover {
            @include link-hover;
        }
    }
}

.school__events {
    @include featured-post-small-first-child;

    .element--wide {
        @include span(7 of 10);
        @include last;
    }

    .element--narrow {
        @include span(3 of 10);
    }

    .featured-post {
        display: block;
        overflow: hidden;
    }
}
