.footer {
    clear: left;
    padding: baselines(16) 0 baselines(20);

    p {
        font-size: fontsize(footer);
        line-height: baselines(4);
    }

    p:last-child {
        margin-top: baselines(3);
    }

    a {
        color: colour(text);
    }
}

