.footer {
    clear: left;
    padding: baselines(16) 0 baselines(8);

    p {
        font-size: fontsize(caption);
    }

    p:last-child {
        margin-top: baselines(2);
    }

    a {
        color: colour(text);
    }
}

