.logo {
    margin-bottom: baselines(1);
    text-transform: lowercase;
    width: 100%;
    margin-right: 5%;

    @media(min-width:breakpoints(tablet)) {
        float: left;
        width: 20%;
    }
}

.logo__link {
    text-decoration: none;

    &, &:visited {
        color: $colour-main;
    }
}

.logo__letter {
    font-size: fontsize(p);

    @media(min-width:breakpoints(tablet)) {
        font-size: fontsize(h2);
    }
}

.logo__dash {
    text-indent: -9999px;
    display: inline-block;
    position: relative;
    width: 20px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: colour(main);
        top: 50%;
        left: 0;
        margin-top: -1px;
    }

    @media(min-width:breakpoints(tablet)) {
        &:after {
            margin-top: -4px;
        }
    }
}

.logo__dash--long {
    width: 10%;
    min-width: 90px;
}
