.search {
    margin-bottom: baselines(8);
    position: relative;
}

.search__input {
    background: transparent;
    border: 0;
    border-bottom: 3px solid colour(text);
    font-family: $font-main;
    font-size: fontsize(h2);
    margin: 0;
    padding: 0 70px 0 0;
    width: 100%;

    @include placeholder {
        color: colour(text);
    }

    &:focus {
        border-bottom: 3px solid colour(main);
        outline: 0;
    }
}

.search__button {
    border: 0;
    margin: 0;
    padding: 0;
    color: colour(main);
    background: transparent;
    font-size: fontsize(h2);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

.search--small {
    margin-bottom: 0;

    .search__input {
        width: 80px;
        font-size: fontsize(language);
        border: 0;

        @include placeholder {
            color: colour(main);
        }
    }
}
