.nav-language {
    position: absolute;
    top: 0;
    right: $grid-outer-padding;
    line-height: 0.75;

    @media(min-width:breakpoints(tablet)) {
        width: 12%;
        float: left;
        line-height: inherit;
    }
}

.nav-language__link {
    font-size: fontsize(aside);
    color: $colour-main;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @media(min-width:breakpoints(tablet)) {
        font-size: fontsize(menu);
    }

}
