.nav-primary {
    margin-bottom: baselines(3);
    overflow: hidden;
}

.menu-item {
    float: left;
    font-size: fontsize(h2);
    line-height: baselines(8);
    margin-right: baselines(5);
    color: $colour-main;

    a {
        text-decoration: none;
        color: $colour-main;
    }

    &:hover {
        text-decoration: underline;
    }
}

.current-menu-item {
    text-decoration: underline;
}
