.nav-language {
    width: 12%;

    @media(min-width:breakpoints(tablet)) {
        float: left;
    }
}

.nav-language__link {
    font-size: fontsize(menu);
    color: $colour-main;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @media(min-width:breakpoints(tablet)) {
        font-size: fontsize(menu);
    }

}
