.nav-primary {
    margin-bottom: baselines(3);
    overflow: hidden;
    width: 100%;

    @media(min-width:breakpoints(tablet)) {
        float: left;
        margin-right: 5%;
        width: 55%;
    }
}

.menu-item {
    float: left;
    font-size: fontsize(menu);
    line-height: baselines(5);
    margin-right: baselines(4);

    a {
        color: colour(main);
        text-decoration: none;

        &:visited {
            color: colour(main);
        }
    }

    &:hover {
        text-decoration: underline;
    }

    @media(min-width: breakpoints(tablet)) {
        margin-right: baselines(3);
        line-height: baselines(5);
    }
}

.current-menu-item {
    text-decoration: underline;
}
