.column--home.column--full {
    margin-top: baselines(6);

    .element--wide {
        @include span(7);
    }
}

.column--home.column--wide {
    .featured-posts__title {
        margin-bottom: 0;
    }

    .featured-post:first-child {
        .element {
            @include span(full);
            float: none;
        }

        .element--narrow {
            display: table-footer-group;
        }

        .element--wide {
            display: table-header-group;
        }
    }
}
