.column--home.column--full {
    margin-top: baselines(6);

    .element--wide {
        @media(min-width: breakpoints(tablet)) {
            @include span(7);
        }
    }
}

.column--home.column--wide {
    .featured-posts__title {
        margin-bottom: baselines(4);

        @media(min-width: breakpoints(tablet)) {
            margin-bottom: 0;
        }
    }

    .featured-post:first-child {
        .element {
            @include span(full);
            float: none;
        }

        .element--narrow {
            @media(min-width: breakpoints(tablet)) {
                display: table-footer-group;
            }
        }

        .element--wide {
            @media(min-width: breakpoints(tablet)) {
                display: table-header-group;
            }
        }
    }
}
