.post__header {
    @include span(10 of 12);
}

.post__date {
    color: colour(main);
}

.post__title {
    font-size: fontsize(h1);
    line-height: baselines(13);
    margin-bottom: baselines(4);
}

.column--post {
    @include featured-post-small-first-child;
    position: relative;

    .featured-posts {
        padding-right: span(8 of 12) - span(7 of 12) + (gutter() * 2);
    }

    .featured-posts__title {
        margin-bottom: baselines(4);
    }

    &.column--wide {
        @media(min-width: breakpoints(tablet)) {
            @include span(8 of 12);
        }
    }

    &.column--narrow {
        @media(min-width: breakpoints(tablet)) {
            @include span(3 of 12);
            @include last;
        }
    }
}
