.post__header {
    @include span(10 of 12);
}

.post__date {
    color: colour(main);
}

.post__title {
    font-size: fontsize(h1);
    line-height: baselines(13);
    margin-bottom: baselines(4);
}

.column--post {
    @include featured-post-small-first-child;
    position: relative;

    .featured-posts__title {
        margin-bottom: baselines(4);
    }

    &.column--wide {
        @include span(8 of 12);
    }

    &.column--narrow {
        @include span(3 of 12);
        @include last;
    }
}
